@font-face {
    font-family: 'RiksWeb';
    src: url('RiksWeb-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
  --color: ;
  --white: #bfbfbf;
}


html{
  /*font-family: 'Inter', sans-serif;*/
  font-family: 'RiksWeb';
  color: var(--color);
  background: black;
  width: 100%;
  overflow-x: hidden;
}

body{
  max-width: 100%;  
  width: 100%;
  scroll-behavior: smooth;
}

/* main{
  width: 86%;
  max-width: 86vw;
} */






/* //////////////////////////////////////////////////// */






/* .button {
 
    display: inline-block;
    margin: 10px;
	  border: 2px solid #333;
    border-radius: 15px;
    
} 
 
.button span {
    background-color: #E8E8E8;
    border-radius: 15px;
    display: inline-block;
    padding: 10px 40px;
    color: #333;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-weight: 700;
    font-size: 32px;
   
}
 
.button span:hover {
	background-color: #AFAFAF;
     color: #FFF;
     cursor: pointer;
} */







/* //////////////////////////////////////////////////// */







header{
        font-size: 20vw; 
        text-align: center;
        background-color: black;
        position: relative;
        line-height: 16vw;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 10;
        margin-top: -10px;
       /* display: none; */
}

header i{
    font-family: 'Inter Thin', sans-serif;
    font-size: 15vw;
}

header span{
    font-family: 'Inter Thin', sans-serif;
    font-size: 10vw;
    padding: 0 6vw;
}





/* //////////////////////////////////////////////////// */

.show{
  border:var(--white) 5px solid;
  /* height: 10%; */
  width: 90%;
  margin-left: 5.5vw;
}

.show p{
  font-size: 5vw;
  margin:0;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(99%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

/* //////////////////////////////////////////////////// */

.blocco{
  width: 86vw;
  margin-left: 5.5vw;
  /* display: none; */
}

.grid-titolo {
  display: grid;
  clear: both;
  /* grid-template-columns: 86%; */
  /* padding: 0 5.5vw; */
  width: 86%;
}

.grid-titolo div {
  border: 3px solid var(--white);;
  width: 88vw;
}



.grid-container {
  display: grid;
  clear: both;
  grid-template-columns: 45% 45%;
  /* margin: 0 5.5vw; */
  /* max-width: 86%; */
}


.grid-container  div {
  border: 3px solid var(--white);
  font-size: 3vw;
  padding: 0 2vw ;
  /* max-width: 86vw; */
}





#release{
  border-bottom: double .5vw var(--white);
  border-top: double .5vw var(--white);
}

#release div{

    /* width: 500px; */
    height: 50vw/3;
  }

.red{
  color: red;
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}






/* .grid-titolo > div > h1 {
    transition: all 0.2s  ease-out ;
  } */

.grid-titolo > div > h1:hover {
    /* transform: scale(1.4) translate(15%); */
    color: var(--white);
    width: 86%;
  }


.grid-container  h1 {
      font-size: 8vw;
      margin: 1vw 0;
      text-align: center;
  }

  .grid-titolo  h1 {
    font-size: 8vw;
    margin: 1vw 0;
}

.grid-container h2 {
      font-size: 5vw;
      margin: 1vw 0;
      text-align: center;
  }

/* main > div{
  max-width: 80%;
} */


/* .out-main{
    margin: 0 5vw;
}

.release{
text-align: center;
} */


/*.column{
    float: left;
    flex: 50vw;
    padding: 1vw;
    border: solid white 3px;
    min-width: 30vw;
    max-width: 140vw;
  } */

.titolazzi{
    font-size: 10vw;
}


.mail{
    font-size: 5vw;
    text-decoration: none;
    color: var(--color);
    margin: 5% ;
    padding: 3vw;
    border: solid 3px var(--white);
    text-align: center;
    display: inline-block;
    transition: all 0.4s  ease-in-out ;
}

.mail:hover{
    color:var(--white);
    border: dashed 3px var(--color);;
    transform: rotate(-1turn) scale(0.5);
}

#mail-icon{
    text-align: center;
    font-size: 5vw;
    margin: 5vw;
}


#sidenavSx{
    height: 150vw;
    width: 6vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* padding-top: 10px; */
    border-right: solid var(--white) 3px;
    background-color: black;
    /* display: flex;  */
/*   display: none; */
}

#sidenavSx p{
    /* padding-right: 10vw ; */
    font-size: 3vw;
    text-align: center;
    height: 10%;
    /* border: red 1px solid; */
    /* writing-mode: vertical-lr; */
    /* height: 50%; */
    transform: rotate(90deg);
    /* bottom: 9px; */

     -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%); 
    -moz-animation: scrollTit 2s linear infinite;
    -webkit-animation: scrollTit 2s linear infinite;
    animation: scrollTit 5s ease-in-out infinite;
    line-height: 2.8vw;
}



@keyframes  scrollTit{
  0% {
      -moz-transform: translateY(-120%);
      -webkit-transform: translateY(-120%);
      transform: translateY(-250%);
  }
  50% {
      -moz-transform: translateY(200%);
      -webkit-transform: translateY(200%);
      transform: translateY(250%);
  }
  100% {
    -moz-transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    transform: translateY(-250%);
} }




#sidenavDx p{
    transform: rotate(90deg);
    font-size: 1.5vw;

    text-align: left;
    /* margin-top: 3vw; */
}





#sidenavDx{
    height: 150vw;
    width: 6vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;     
    overflow-x: hidden;
    padding-top: 10px;
    border-left: solid 3px var(--white);;
    background-color: black;
    display: block;
/*   display: none; */
}

#sidenavDx a{
    text-align: center;
    text-decoration: none;
    font-size: 3vw;
    width: 100%;
    margin: 1vw 0;
    position: relative;
    bottom: 2vw;
    color: var(--white);

}

#sidenavDx a:hover{
    color: var(--color);
}

#sidenavSx a:hover{
    color: var(--color);
}



a {
   transition: all 0.3s ease-in; 
}


a:hover {
    transform: scale(1.2);
    color: var(--color);
  }

/*
.fa-instagram {
    color: white;
}

.fa-soundcloud {
    color:  #ff5500
  }

.fa-linkedin {
    color:  #007bb5;
  }

 
.fa-paper-plane-o {
    color: lightblue;
  }

/* .fa-phone-square {
    color: white;
} */

.fa-envelope {
    color: var(--white);
}

.fa-comments {
    color: var(--white);
}

/* #titolo-sudinoi{
    width: 86vw;
    display: block;
   
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;  }
  #titolo-servizi{
    width: 86vw;
    display: block;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out; 
    padding: .5em;
    box-sizing: border-box;
    overflow: hidden; }
  #titolo-outs{
    width: 86vw;
    display: block;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;  }
  #titolo-canali{
    width: 86vw;
    display: block;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;} */
    /* 
  #titolo-sudinoi  #sudinoi-out:hover{
    display: none;
  }
  #titolo-servizi:hover{
    display: none;
  }
*/ 
  #outs-in{
      display: none;
  }
 /*
  #outs-outs{
      display:block;
  }

  #outs-in:hover{
    display: block;
}

#outs-outs:hover{
    display: none;
} */

/* 
  #titolo-outs #outs-outs:hover{
      display: block;
      word-wrap: none;
      flex-wrap: nowrap;
  }

  #titolo-outs #outs-out:hover{
    display: none;
    word-wrap: none;
} */

  #titolo-canali:hover
  {

  }

    #servizi{
        display: none;
        width: 100vw;
    }


    #outs{
        display: none;
        width: 100vw;
    }


    #sudinoi{
        display: none;
        width: 100vw;
    }

    #canali{
        display: none;
        width: 100vw;
    }
